<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 text-xs sm:text-normal">
  <span class="text-xs sm:text-sm text-gray-500 sm:text-center">Website © {{yearRange}} Jay Chooi (open-source license)<br>Course metadata
    and
    evaluations © {{yearRange}} President and Fellows of Harvard College</span>
  <ul class="flex flex-wrap items-center sm:pl-3 mt-3 text-xs sm:text-sm text-gray-500 sm:mt-0">
    <li>
      <a target="_blank" href="/archive" class="mr-4 hover:underline md:mr-6">Archive</a>
    </li>
    <li>
      <a target="_blank" href="https://stalk.chojeq.com" class="mr-4 hover:underline md:mr-6">Contact me</a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/jeqcho/harvard_gem_finder" class="hover:underline md:mr-6">Code</a>
    </li>
  </ul>
</footer>
